@using EtPro.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Department>
@{
    ViewData["Title"] = "Departamentos";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">New Department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Manager</th>
            <th>Custodian</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Manager?.UserName</td>
                <td>@item.Custodian?.UserName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>